@import "./variables.css";

body {
    background: var(--bg-primary);
    margin: 0;
    font-family: var(--font-primary);
}

p {
    color: var(--text-primary);
}

button {
    font-family: "DM Sans", serif;
}

.bottom-add-icon {
    color: var(--accent);
}

.italic-p {
    font-style: italic;
}