@import "./variables.css";

body {
    background: var(--bg-primary);
    margin: 0;
    font-family: var(--font-primary);
    color: var(--text-primary);
}

p {
    color: var(--text-primary);
}

button {
    font-family: "DM Sans", serif;
}

.bottom-add-icon {
    color: var(--accent);
}

.italic-p {
    font-style: italic;
}

.card.clickable {
    cursor: pointer;
}

h1, h2, h3, h4, label, span {
    margin: 0;
    color: var(--text-primary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additional-info {
    color: var(--text-secondary);
    font-size: 13px;
    text-align: center;
}

svg {
    display: block;
}