:root { /* default blossom */
    --bg-primary: #fafafa;
    --bg-secondary: #fce8ee;
    
    --text-primary: #333333;
    --text-secondary: #666666;

    --accent: #e89ab3;
    --hover: #a85e7c;
    --success: #ffb6c1;
    --border: #f8c8d8;
    --card: #faedf1;
    --input: #e2e1e0;

    --font-primary: "DM Sans", serif;
}

.theme-forest {
    --bg-primary: #f2faf2;
    --bg-secondary: #e6f2e6;

    --accent: #7bb57b;
    --hover: #557c55;
    --success: #a0d6a0;
    --border: #cdf1cd;
    --card: #dcf5dc;
}

.theme-night {
    --bg-primary: #1b1b2f;
    --bg-secondary: #2a2a40;
    
    --text-primary: #e0e0e0;
    --text-secondary: #b0b0c0;

    --accent: #9b79d1;
    --hover: #805d9b;
    --success: #dda0dd;
    --border: #cfa9e3;
    --card: #613783;
    --input: #44444c;
}