.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    display: none;
}

@media (min-width: 1024px) {
    .bottombar {
        display: none;
    }

    .sidebar {
        display: flex;
    }
}