.challenges-content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px;
}

.challenges-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.challenges-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}