.transactions-content {
    margin: 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px;
}

.transactions-header-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transactions-header-first-row h1 {
    font-size: 16px;
    margin: 0;
}

.transactions-header-second-row {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.transactions-header {
    display: flex;
    flex-direction: column;
}

.transactions-overall span {
    font-weight: 600;
}

.empty-transactions {
    text-align: center;
    padding: 24px 0;
}

.empty-transactions p {
    margin: 6px 0;
}