.accordion-item {
    padding: 15px 25px;
}

.accordion-item:not(:last-child) {
    border-bottom: 1px solid var (--border);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion-header h4 {
    font-size: 15px;
}

.accordion-content {
    color: var(--text-secondary);
    margin-top: 10px;
    font-size: 14px;
}