.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--card-border);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    gap: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-content p {
    font-weight: 600;
    font-size: 18px;
}

.card-header {
    display: flex;
    gap: 6px;
    align-items: center;
    opacity: 0.3;
}

.card-header p {
    font-weight: 600;
    font-size: 13px;
}

.card-icon svg {
    display: block;
}

.card-content .secondary-text {
    font-size: 14px;
    font-weight: 400;
}

.card-content .normal-text {
    font-size: 15px;
    font-weight: 400;
}