.challenge-item .challenge-description {
    font-size: 13px;
    font-weight: 400;
}

.challenge-item .challenge-title {
    font-size: 15px;
}

.challenge-item .challenge-progress {
    font-size: 16px;
    color: var(--accent);
    font-weight: 600;
}