.mood-selector {
    display: flex;
    justify-content: space-between;
}

.mood-btn {
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.mood-btn:hover {
    transform: scale(1.1);
}

.mood-btn.selected {
    transform: scale(1.35);
}